/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

// Editor and Front-end styles
.block-editor-block-list__block[data-type="create-block/outline-block"] {
    font-family: var(--wp--preset--font-family--gotham);
    font-size: var(--wp--preset--font-size--small)
}

.block-editor-block-list__block ul {
    list-style:none;
}

.outline-level-2 {
    margin-left: 0;
    font-size: var(--wp--preset--font-size--medium)
}

.outline-level-3 {
    margin-left: 20px;
}

.outline-level-4 {
    margin-left: 40px;
}

.outline-level-5 {
    margin-left: 60px;
}

.custom-outline-block ul {
    padding-left: 0;
}

.custom-outline-block .outline-level-2 {
    margin-left: 0;
}

.custom-outline-block .outline-level-3 {
    margin-left: 20px;
}

.custom-outline-block .outline-level-4 {
    margin-left: 40px;
}

.custom-outline-block .outline-level-5 {
    margin-left: 60px;
}

