/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.toggleContent {
	display: inherit;
}

.toggleElem {
	background: none;
	border: none;
	color: currentColor;
	cursor: pointer;
}

.toggleElem > svg {
	fill: currentColor;
}
